<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
		<typeAlias type="com.example.demo.domain.Test" alias="test"/>
	<!-- 	
	<typeAlias type="lovvey.dto.Page2Dto" alias="page2Dto"/>
	 -->
    </typeAliases>
</configuration>